h1 {
	text-align: center;
	padding: 10px
}
body{
	background-color: #EFE6E9;
}

form {
	position: absolute;
	left :35%;
	background-color: teal;
	padding: 70px;
}

input {
	padding-right: 100px;
}




 
